<ion-view view-title="Login">
  <ion-content padding="4">
      <form>
        <ion-list>
            <label class="item item-input">
                <input type="text" placeholder="Username" ng-model="user.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="user.password">
            </label>
        </ion-list>
        <button class="button button-stable button-block" ng-click="login()">Sign In</button>
    </form>
      <a href = "#/tab/signup" class="button button-positive button-outline" style="width: 100%; margin: 20px 0;">
        Sign Up
      </a>
  </ion-content>
</ion-view>
