<ion-view view-title="Login">
  <ion-content padding="4">
      <form>
        <ion-list>
            <label class="item item-input">
                <input type="text" placeholder="Username" ng-model="user.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="user.password">
            </label>
        </ion-list>
        <button class="button button-assertive button-block" ng-click="login()"><b>Sign In</b></button>
    </form>
      <a href = "#/signup" class="button button-positive button-clear button-block">
        Sign Up
      </a>
  </ion-content>
</ion-view>
