<ion-view view-title="PillBox A">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" >
        <img ng-src="{{chat.face}}">
        <h2>Please work</h2>
        <p>it's ID</p>  
        <p></p>
        <p></p> 



<h1> Days for prescription </h1>
 <ul class="list">


<div class="row">
  <div class="col-12.5">
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Monday 
  </li> 
  </div> 
<div class="col-12.5">
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Tuesday
  </li> 
  </div>
<div class="col-12.5">
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Wednesday
  </li>
  </div> 
<div class="col-12.5">
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Thursday
  </li> 
</div>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Friday
  </li> 
<div class="col-12.5">
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Saturday
  </li> 
</div>
<div class="col-12.5">
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Sunday
  </li> 
  </div>
</div>

</ul>


        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view> 


