<ion-view view-title="PillBox A">
  <ion-content padding="4">
    <h1 class="title">Prescription Days</h1>
    <ion-list padding="4">      
      <ion-item ng-click="openModal(day)" ng-repeat="day in days  | filter:searchText track by day.id" >
        <div>
          {{day.day}}
        </div> 
      </ion-item>
    </ion-list>
    <br>
    <button class="button ion-checkmark" ng-click="saveToParse()">&nbsp;&nbsp;Save</button>
  </ion-content>
</ion-view> 

<script id="reminderEdit.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Schedule</h1>
    </ion-header-bar>
    <ion-content class="padding" overflow-scroll="true">
      <div class="list" ng-repeat="day in arr | filter:searchText track by day.id">
        <div class="12HourTimePickerChildDiv">
          <div class="row">
          <hr>
            <span class="button-small col col-25">
              <button type="button" class="button button-clear button-small button-dark timePickerArrows marginBottom10"
                      ng-click="increaseHours(day)">
                <i class="icon ion-chevron-up"></i></button>
              <input type="text" placeholder="" ng-model="day.hours" class="ipBoxes timePickerBoxText" disabled>
              <button type="button" class="button button-clear button-small button-dark timePickerArrows marginTop10"
                      ng-click="decreaseHours(day)">
                <i class="icon ion-chevron-down"></i></button>
              </span>
              <label class="col col-10 timePickerColon"> : </label>
              <span class="button-small col col-25">
                <button type="button" class="button button-clear button-small button-dark timePickerArrows marginBottom10"
                        ng-click="increaseMinutes(day)"><i class="icon ion-chevron-up"></i></button>
                <input type="text" placeholder="" ng-model="day.minutes" class="ipBoxes timePickerBoxText" disabled>
                <button type="button" class="button button-clear button-small button-dark timePickerArrows marginTop10"
                        ng-click="decreaseMinutes(day)"><i class="icon ion-chevron-down"></i></button>
              </span>
              <label class="col col-10 timePickerColon"> : </label>
              <span class="button-small col col-25">
                <button type="button" class="button button-clear button-small button-dark timePickerArrows marginBottom10"
                        ng-click="changeMeridian(day)"><i class="icon ion-chevron-up"></i></button>
                <input type="text" placeholder="" ng-model="day.meridian" class="ipBoxes timePickerBoxText" disabled>
                <button type="button" class="button button-clear button-small button-dark timePickerArrows marginTop10"
                        ng-click="changeMeridian(day)"><i class="icon ion-chevron-down"></i></button>
              </span>
            </div>
          </div>
        <label class="item item-input">
          <span class="input-label">Number of Pills</span>
          <input type="number" ng-model="day.amount" placeholder="1">
        </label>
        <button class="button button-icon icon ion-trash-b" ng-click="remove(arr, day)">&nbsp;&nbsp;Remove schedule</button>
      </div>
      <br>
      <button class="button button-icon icon ion-plus-circled" ng-click="addMore(arr)">&nbsp;&nbsp;Add schedule</button>
      <button class="button button-full button-balanced" ng-click="closeModal(); noOfPills()">Done</button>
    </ion-content>
  </ion-modal-view>
</script>
