<ion-view title="Sign Up">
    <ion-content padding="true" class="has-header">
        <form>
            <ion-list>
                <label class="item item-input">
                    <input type="text" placeholder="Username" ng-model="user.username">
                </label>
                <label class="item item-input">
                    <input type="email" placeholder="Email" ng-model="user.email">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="user.password">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Confirm Password" ng-model="user.confirmPassword">
                </label>
            </ion-list>
            {{msg}}
            <button class="button button-stable button-block" ng-click="signupEmail()">Sign Up</button>
        </form>
    </ion-content>
</ion-view>