<ion-view view-title="Initial Setup">
  <ion-content class="padding center">
    
  <div class="list card">
    <a href="#tab/dash" class="item item-icon-left">
      <div class="padding">
        <i class="icon ion-iphone"></i>
        <b>Mobile App Mode</b>
      </div>
      <div class="padding item-text-wrap lighter">
        Manage your smart pillbox for your grandma
      </div>
    </a>

    <a href="#" class="item item-icon-left">
      <div class="padding">
        <i class="icon ion-medkit"></i>
        <b>Smart Pillbox Mode</b>
      </div>
      <div class="padding item-text-wrap lighter">
        Make your dumb pillbox into a smart pillbox!
      </div>
    </a>
  </div>

  </ion-content>
</ion-view>
