<ion-view view-title="Home">
  <ion-content class="padding">

    <div class="list card">
      <div class="item item-divider">
        <b>Last medication taken</b>
      </div>
      <div class="item item-body">
        <div>
          <h1>1:00 PM</h1>
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">
        <b>Next medication</b>
      </div>
      <div class="item item-body">
        <div>
          <h1>7:00 PM</h1>
        </div>
      </div>
    </div>

    <div class="list card">
      <a href="#tab/setPillReminder" class="item item-icon-left">
        <div class="padding">
          <i class="icon ion-android-alarm-clock"></i>
          <b>To set a reminder</b>
        </div>
        <div class="padding item-text-wrap lighter">
          Come on in
        </div>
      </a>
    </div>

  <button class="button button-block button-dark" ng-click="identifyUser()">
    Identify a user
  </button>

  <button class="button button-block button-positive" ng-if="identified" ng-click="pushRegister()">
  Register for Push
  </button>

  </ion-content>
</ion-view> 

<script type="text/javascript">
    parsePlugin.initialize(appId, clientKey, function() {
        alert('success');
    }, function(e) { 
        alert('error');
    });

    parsePlugin.getInstallationId(function(id) {
        alert(id);
    }, function(e) {
        alert('error');
    });

    parsePlugin.getSubscriptions(function(subscriptions) {
        alert(subscriptions);
    }, function(e) {
        alert('error');
    });

    parsePlugin.subscribe('SampleChannel', function() {
        alert('OK');
    }, function(e) {
        alert('error');
    });

    parsePlugin.unsubscribe('SampleChannel', function(msg) {
        alert('OK');
    }, function(e) {
        alert('error');
    });
</script>
