<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          Patient had ate a pill just now (2 seconds ago).
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health Status</div>
      <div class="item item-body">
        <div>
          Your grandma is OK.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          Next pill should serve on <b>7:00 PM</b>.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
