<ion-view view-title="Pairing">
  <ion-content class="padding">
    
  <div class="list card">
    <div class="item item-icon-left item-divider">
      <i class="icon ion-code-working"></i>
      <b>Pairing Code</b>
    </div>
    <label class="item item-input">
        <input type="text" placeholder="CODE" ng-model="data.pillId">
    </label>
  </div>
  {{msg}}
  <button class="button button-block button-positive"ng-click="checkID()">Pair</button>
    <button ng-click="reminder()">get reminder</button>

  </ion-content>
</ion-view>